.wrapper {
    width: 95%;
    height: 100px;

    background-color: white;
    border-radius: 10px;
    
    padding: 10px 0px;
    margin-bottom: 20px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: left;
}

.upper_wrapper {
    padding: 10px 15px;
    border-bottom: 1px solid rgb(224, 221, 221);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.lower_wrapper {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search_wrapper {
    display: flex;
    margin-left: 50px;
}

.title {
    display: inline-block;
    color: rgb(47, 46, 46);
    font-weight: 900;
    padding: 10px;
    font-size: 14px;
}